@model ShortenedReferenceCommon.Model.ReferenceInfo

<!doctype html>
<html>
	<head>
		<meta charset="utf-8" http-equiv='Refresh' content='1; url=@Model.LongReference'>
	</head>
	<body>		 
	</body>
</html>

