@model WebApplication1.Models.ReferenceInfoViewModel

<h1>Create short reference</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
				<label asp-for="LongReference" class="control-label">Long reference</label>
                <input asp-for="LongReference" class="form-control" />
                <span asp-validation-for="LongReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
